body {
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222629;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mem-wrapper {
    height: 95%;
    width: 75%;
    min-height: 500px;
    min-width: 500px;
    display: grid;
    align-items: center;
    grid-template-rows: 4fr 1fr;
    margin: 5% auto;
    background-color: #474B4F;
}

.slider {
    height: 95%;
    min-height: 300px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 1%;
    padding-top: 1%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    max-height: 380px;
    border: none !important;
    box-shadow: none !important;
    margin: auto;
    overflow: hidden;
}

.under-slider {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.kontroller {
    text-align: center;
}

.slider-kontroller {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #61892F;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid #98ff07;
}

.active,
.slider-kontroller:hover {
    background-color: #98ff07;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.mem-text {
    padding: 5%;
    background-color: #61892F;
}

.kontroller {
    padding: 1%;
    background-color: #6B6E70;
}

@media (max-width: 768px) {
    .mem-wrapper {
        height: 95%;
        width: 75%;
        min-height: auto;
        min-width: 300px;
        display: grid;
        grid-template-rows: 3fr 2fr;
        margin: 5% auto;
        background-color: #474B4F;
    }
    .under-slider {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider {
        height: 95%;
        min-height: 250px;
        min-width: 300px;
        margin: auto;
        padding-bottom: 1%;
    }
    .mem-text {
        min-height: 108px;
    }
}